* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
body {
    flex-wrap: wrap;
    height: 100%;
    min-width: 100%;
    background-image: url("./images/30626.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: fill;
}
header{
    width: 60%;
    margin: 0 auto 0;
    border-radius: 40px;
    padding: 10px;
    background: blueviolet;
}  
#hidden{
    display: none;
}
#info-sec{
    background: rgb(245, 179, 231);
    font-size: 30px;
    width: 50%;
    margin: 0 auto 0 ;
    border-radius: 40px;
    padding: 30px;
   
}
.secshow{
    display:block !important;
}
#game-start{
    text-align: center;
    text-decoration-line: underline;
    font-size: 40px;
}
.start{
    margin: 0 auto 0;
    width: 150px;
    height: 50px;
    margin: 20px auto 0 ;
    display: block;
    border-radius: 40px;
    background: blue;
}
.start:hover{
    background: wheat;
    color: blue;
}
.app{
    background: wheat;
    width: 50%;
    margin: 0 auto 0 ;
    border-radius: 40px;
    padding: 30px;

}
h1{
    text-align: center;
    border-bottom: 5px solid;
}

.questions{
    padding: 20px 0;

}
.questions h2{

}
.btn{
    background: wheat;
    width: 100%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}
.btn:hover{
    background: blue;
    color: brown;
}